{$KBKB_BACKEND_DOMAIN} {
  encode zstd gzip

  reverse_proxy backend:8765

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    -Server
  }

  log {
    output stdout
    format console
  }
}
